<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta stuff -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Display stuff (Title, desc, color, icon) -->
    <title>{{ title or metadata.title }} | Moldy</title>
    <meta name="title" content="{{ title or metadata.title }} | Moldy">
    <meta name="description" content="{{ desc or metadata.desc }}">
    <meta name="theme-color" content="#ff00ff">
    <link rel="icon" href="/assets/icon.png">

    <!-- Opengraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.moldygd.com/">
    <meta property="og:title" content="{{ title or metadata.title }} | Moldy">
    <meta property="og:site_name" content="Moldy">
    <meta property="og:description" content="{{ desc or metadata.desc }}">
    <meta property="og:image" content="/assets/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.moldygd.com/">
    <meta property="twitter:title" content="{{ title or metadata.title }} | Moldy">
    <meta property="twitter:description" content="{{ desc or metadata.desc }}">
    <meta property="twitter:image" content="/assets/banner.png">

    <!-- CSS -->
    {# <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"> #}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body class="preload">

    <!-- Mobile Menu -->
    <div class="menu" id="menu" tabindex="-1">
        <div class="menu-close" id="close" tabindex="0" onclick="closeMobile();" onkeydown="if (event.keyCode === 13) {closeMobile()}"><i class="ri-close-line"></i></div>
        <a href="/" class="menu-link" onclick="closeMobile();" onkeydown="if (event.keyCode === 13) {closeMobile()}"><span>Home</span></a>
        <a href="/archive/" class="menu-link" onclick="closeMobile();" onkeydown="if (event.keyCode === 13) {closeMobile()}"><span>Blog</span></a>
        {# <a href="/faq/" class="menu-link" onclick="closeMobile();" onkeydown="if (event.keyCode === 13) {closeMobile()}"><span>FAQ</span></a> #}
        <a href="/contact/" class="menu-link" onclick="closeMobile();" onkeydown="if (event.keyCode === 13) {closeMobile()}"><span>Get In Touch</span></a>
        <div class="note">
            <div>
                MoldyGD.com is the official website of Moldy.
            </div>
            <div><a href="/video-usage/">Video Usage Policy</a> · <a href="/privacy-policy/">Privacy Policy</a></div>
        </div>
    </div>
    <div class="menu-bg" id="menu-bg" onclick="closeMobile();"></div>

    <!-- Background image -->
    <img src="/assets/bg.png" alt="" class="bg">

    <!-- Banner -->
    <div class="banner">
        <div class="container">
            I am going to <b>VidCon Anaheim</b> this year! <a href="/vidcon/">Find out more here!</a>
        </div>
    </div>

    <!-- General content -->
    <div class="container layout">

        <!-- Navbar -->
        <div class="navbar">
            <div class="left">
                <div class="menu-btn" id="open" tabindex="0" onclick="openMobile();" onkeydown="if (event.keyCode === 13) {openMobile()}">
                    <i class="ri-menu-line"></i>
                </div>
                <a href="/" class="logo">
                    <img src="/assets/icon.png" alt="">
                    <span>Moldy</span>
                </a>
                <div class="items">
                    <a href="/" class="item">Home</a>
                    <a href="/archive/" class="item">Blog</a>
                    {# <a href="/faq/" class="item">FAQ</a> #}
                    <a href="/contact/" class="item">Get In Touch</a>
                </div>
            </div>
            <div class="right">
                <a href="https://youtube.com/@MoldyGD" class="btn"><i class="ri-youtube-fill"></i> YouTube</a>
            </div>
        </div>

        {{ content | safe }}

        <div class="card" id="contact" tabindex="-1">
            <div class="cols">
                <div class="col">
                    <h1>For Creators</h1>
                    <ul>
                        <li>Collaboration Requests</li>
                        <li>Podcast Invites</li>
                        {# <li>Video Suggestions</li> #}
                    </ul>
                    <p>
                        Please contact me via any of my social media.
                    </p>
                    <a href="/social-media/" class="btn" style="margin-top: auto;">My Social Media</a>
                </div>
                <div class="col">
                    <h1>For Brands</h1>
                    <ul>
                        <li>Sponsorship Inquiries</li>
                        {# <li>Press</li> #}
                        <li>Business Proposals</li>
                    </ul>
                    <p>
                        Please send an email. This is strictly for <b>Business Inquiries</b> only!
                    </p>
                    <a href="mailto:moldy@moreyellow.com" class="btn" style="margin-top: auto;">moldy@moreyellow.com</a>
                    {# <a href="/#contact" class="btn disabled">Coming Soon!</a> #}
                </div>
            </div>
            {# <div class="alert">
                Response time may be slower than usual during July 22nd to July 29th, as I am on a trip. I apologise for this inconvenience.
            </div> #}
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="cols">
                <div class="col">
                    <a href="/" class="logo" style="margin-bottom: 20px;">
                        <img src="/assets/icon.png" alt="">
                        <span>Moldy</span>
                    </a>
                    <p>
                        MoldyGD.com is the official website of Moldy.
                    </p>
                    <a href="https://link.moldygd.com/youtube" class="footer-link contact"><i class="ri-youtube-fill"></i> <span>My YouTube</span></a>
                    {# <a href="/archive/" class="footer-link">All Blog Posts</a> #}
                    
                </div>
                <div class="col">
                    <h1>Quick Links</h1>
                    {# <div class="grid-2" style="gap: 5px;"> #}
                    <a href="/" class="footer-link">Home</a>
                    <a href="/archive/" class="footer-link">Blog</a>
                    {# <a href="/faq/" class="footer-link">FAQ</a> #}
                    <a href="/contact/" class="footer-link">Get In Touch</a>
                    {# </div> #}
                </div>
                <div class="col">
                    <h1>Contact</h1>
                    <a href="mailto:moldy@moreyellow.com" class="footer-link contact"><i class="ri-mail-line"></i> <span>Business Inquiries</span></a>
                    <span class="footer-link contact"><i class="ri-map-pin-line"></i> Based in Canada</span>
                    <div class="socials">
                        <a href="https://link.moldygd.com/youtube"><i class="ri-youtube-fill"></i></a>
                        <a href="https://link.moldygd.com/discord"><i class="ri-discord-fill"></i></a>
                        <a href="https://link.moldygd.com/x"><i class="ri-twitter-x-fill"></i></a>
                        <a href="/social-media/"><i class="ri-more-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="note">
                <div>Copyright © <span id="year"></span><script>document.getElementById("year").innerHTML = new Date().getFullYear();</script> MoldyGD.com</div>
                {# <div>MoldyGD.com is not associated with RobTopGames AB</div> #}
                <div><a href="/video-usage/">Video Usage Policy</a> · <a href="/privacy-policy/">Privacy Policy</a></div>
            </div>
        </div>

    </div>

    <!-- Execute on page load -->
    <script>
        window.onload = (event) => {
            // preload animation stop
            document.body.classList.remove('preload');
        };
    </script>

    <!-- Mobile Navigation -->
    <script>
        var menu = document.getElementById("menu");
        var menuBg = document.getElementById("menu-bg");

        function openMobile() {
            document.body.style.overflow = "hidden";
            menu.style.display = "flex";
            menuBg.style.display = "block";
            setTimeout(function(){
                menu.style.transform = "translateX(0%)";
                menuBg.style.opacity = "1";
                document.getElementById("menu").focus();
            }, 10);
        }

        function closeMobile() {
            document.body.style.overflow = "unset";
            menu.style.transform = "translateX(-110%)";
            menuBg.style.opacity = "0";
            setTimeout(function(){
                menu.style.display = "none";
                menuBg.style.display = "none";
                //document.getElementById("open").focus();
            }, 250);
        }
    </script>

    <!-- Accordions -->
    <script>
        // https://www.w3schools.com/howto/howto_js_accordion.asp
        // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_animate
        var acc = document.getElementsByClassName("accordion-header");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
        }
    </script>

</body>
</html>