---
layout: base.njk
---

<article>
    <div class="article-details">
        <h1>{{ title }}</h1>
        {# Date format in code is in yyyy-mm-dd #}
        {% if date %}
            <div class="date">Published on {{ date | date }}.{% if update %} (Last updated on {{ update | date }}.){% endif %}</div>
        {% endif %}
    </div>
    <div class="article">
        {{ content | safe }}
    </div>
    {% if isPost %}<a href="/archive/" class="btn">See More Posts</a>{% endif %}
</article>