---
layout: base.njk
title: Get In Touch
---


<article>

    <div class="article-details">
        <h1>Get In Touch</h1>
    </div>

    <div class="article">
        <p>
            There are numerous ways to contact me depending on what you need.
        </p>
        <p>
            If you're a creator and want to collab, a podcast host that wants to invite me, or a fan that wants to give me suggestions, you can contact me via any of my <a href="/social-media/">social media</a>.
        </p>
        <p>
            If you're a brand looking to promote something, a member of the press reaching out for comment, or a business who wants to propose something, email <a href="mailto:contact@moldygd.com">contact@moldygd.com</a>.
        </p>
        <p>
            My email is the best way to contact me but only business inquiries will make it to me.
        </p>
    </div>

</article>

<div class="card" id="contact" tabindex="-1">
    <div class="cols">
        <div class="col">
            <h1>For Creators</h1>
            <ul>
                <li>Collaboration Requests</li>
                <li>Podcast Invites</li>
                <li>Video Suggestions</li>
            </ul>
            <p>
                Please contact me via any of my social media.
            </p>
            <a href="/social-media/" class="btn">My Social Media</a>
        </div>
        <div class="col">
            <h1>For Brands</h1>
            <ul>
                <li>Sponsorship Inquiries</li>
                <li>Press</li>
                <li>Business Proposals</li>
            </ul>
            <p>
                Please send me an email. This is strictly for business only!
            </p>
            <a href="mailto:contact@moldygd.com" class="btn">Contact@MoldyGD.com</a>
            {# <a href="/#contact" class="btn disabled">Coming Soon!</a> #}
        </div>
    </div>
    {# <div class="alert">
        Response time may be slower than usual during July 22nd to July 29th, as I am on a trip. I apologise for this inconvenience.
    </div> #}
</div>