---
layout: base.njk
title: Get In Touch
---


<article>

    <div class="article-details">
        <h1>Get In Touch</h1>
    </div>

    <div class="article">
        <p>
            There are numerous ways to contact me depending on what you need.
        </p>
        <p>
            If you're a creator and want to collab, a podcast host that wants to invite me, or a fan that wants to give me suggestions, you can contact me via any of my <a href="/social-media/">social media</a>.
        </p>
        <p>
            If you're a brand looking to promote something, a member of the press reaching out for comment, or a business who wants to propose something, email <a href="mailto:contact@moldygd.com">contact@moldygd.com</a>.
        </p>
        <p>
            My email is the best way to contact me but only business inquiries will make it to me.
        </p>
    </div>

</article>