---
layout: base.njk
title: Frequently Asked Questions
desc: Frequently Asked Questions About Moldy
---

<div class="section">

    <div class="article-details">
        <h1>Frequently Asked Questions</h1>
    </div>

    <div class="accordion">
        <button class="accordion-header">I'm a creator and want to get in touch. How can I? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                Send me a direct message on any of my <a href="/social-media/">social media</a> platforms. Since I typically don't respond to small talk, please tell me your proposition first.
            </p>
        </div>
    </div>
    <div class="accordion">
        <button class="accordion-header">We're a brand and want to get in touch. How can we? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                Feel free to email <a href="mailto:moldy@moreyellow.com">moldy@moreyellow.com</a> to discuss sponsorship inquiries, press, or other business proposals.
            </p>
        </div>
    </div>
    {# <div class="accordion">
        <button class="accordion-header">Are you currently on break? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                I am not currently on break. This website will be updated to indicate so if I am.
            </p>
            <p>
                I typically take two weeks off each year. For those two weeks, I will be unresponsive to most messages and emails.
            </p>
        </div>
    </div> #}
    {# <div class="accordion">
        <button class="accordion-header">What's your rate for sponsorships? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                Feel free to pitch me anything! My rate is highly negotiable, as I want you to get the best promotion I can possibly give.
            </p>
            <p>
                That being said, I prefer video integrations for a CPM rate. I generally don't do sponsored live streams or dedicated videos for brands, but feel free to pitch me your idea!
            </p>
        </div>
    </div>
    <div class="accordion">
        <button class="accordion-header">Why didn't you respond to our email? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                I will typically respond to emails within a couple days. If I don't, chances are I missed it.
            </p>
            <p>
                When emailing me, please make sure that you email from your company's address. For example, use a company email address like you@yourcompany.com instead of you@gmail.com.
            </p>
            <p>
                It is possible your email got flagged by my spam filter. Make sure your email is professional so that it doesn't get filtered out.
            </p>
            <p>
                If you are a creator, its best you contact me via any of my <a href="/social-media/">social media</a> platforms, but you can use my email as a last resort.
            </p>
        </div>
    </div> #}

    {# BELOW ARE NON FEATURED FAQS #}

    {# <div class="accordion">
        <button class="accordion-header">We're a brand and want to use your content in an ad campaign. Can we? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                I generally do not allow brands to use my content in advertisements or promotional material for free. But don't worry, I am happy to negotiate! Please email me at <a href="mailto:moldy@moreyellow.com">moldy@moreyellow.com</a> if you would like to arrange something. See my <a href="/video-usage/">video usage policy</a> if you are using my content for non-advertisement or non-promotional material.
            </p>
        </div>
    </div>

    <div class="accordion">
        <button class="accordion-header">Can I react to your content? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                I will allow creators to react to my content so long as they follow <a href="/video-usage/">these guidelines</a>.
            </p>
        </div>
    </div>

    <div class="accordion">
        <button class="accordion-header">Can we use your content to train AI? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
        <div class="accordion-body">
            <p>
                I will not allow anyone to use my content to train AI without my consent. For noble causes such as for non-profits, I will likely give free access but only by request. Email me at <a href="mailto:moldy@moreyellow.com">moldy@moreyellow.com</a> and we can discuss the terms.
            </p>
            <p>
                If you aren't a non-profit, you can also email me at <a href="mailto:moldy@moreyellow.com">moldy@moreyellow.com</a> to discuss terms.
            </p>
        </div>
    </div> #}
    
</div>