---
layout: base.njk
title: I Am A Geometry Dash YouTuber
---


<div class="hero">
    <h1>I Am A Geometry Dash YouTuber Tapping Into An Untapped Audience</h1>
    <p>
        I am Moldy, a Geometry Dash YouTuber. My videos hit an audience passionate about mobile and PC games. If you would like to work with me, feel free to get in touch!
    </p>
    <div class="btns">
        <a href="https://youtube.com/@MoldyGD" class="btn"><i class="ri-youtube-fill"></i> My YouTube</a>
        <a href="/contact/" class="btn btn-secondary"><i class="ri-mail-fill"></i> Get In Touch</a>
    </div>
</div>

<div class="stats">
    <div class="cols">

        <div class="col">
            <div class="stat">
                200K+
            </div>
            <div class="stat-label">
                Subscribers
            </div>
        </div>

        <div class="col">
            <div class="stat">
                500K+
            </div>
            <div class="stat-label">
                Avg views/video*
            </div>
        </div>

        <div class="col">
            <div class="stat">
                20K+
            </div>
            <div class="stat-label">
                Monthly stream views
            </div>
        </div>

    </div>
    <div class="disclaimer">*Data from latest 10 videos as of June 2024</div>
</div>

{# <div class="panel cols center" id="audience">
    <div class="col panel-content">
        <h1>My Audience</h1>
        <p>
            As a Geometry Dash channel, my videos hit an audience passionate about mobile and PC games.
        </p>
    </div>
    <div class="col panel-image">
        <div class="aspect">
            <img src="/assets/gd.jpg" alt="">
        </div>
    </div>
</div> #}

<div class="panel cols center" id="videos">
    <div class="col panel-content">
        <h1>Latest Video</h1>
        <p>
            My videos are my specialty. They reliably get a minimum of over 100K+ views, with the average being much higher!
        </p>
        <a href="https://www.youtube.com/@MoldyGD/videos" class="btn">See All My Videos</a>
    </div>
    <div class="col panel-image">
        <div class="aspect">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLvG1lI0KWDE2TN-g5K15m9smMaoOEXhI-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div id="archive" style="display: flex; flex-direction: column; gap: 25px;">
    <div class="panel" style="display: flex; flex-direction: column; gap: 25px;">
        <h1>My Blog</h1>
        <p>
            Here is the latest from my blog. I post about everything here—from business oriented news to random things I find on the internet.
        </p>
    </div>
    <div class="grid-3" style="gap: 20px;">
        {% for post in collections.posts | reverse %}
            {% if loop.index < 4 %}
                <a href="{{ post.url }}" class="post">
                    <h1 class="title">{{ post.data.title }}</h1>
                    <div class="meta">{% if post.data.date %}Published on {{ post.data.date | date }}. {% if post.data.update %} (Last updated on   {{ post.data.update | date }}.){% endif %}{% else %}No date provided.{% endif %}</div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="panel" id="faq">
    <div class="col">
        <h1>Questions And Answers</h1>
        <p>
            While this list of frequently asked questions may help you, feel free to ask me anything! I am very variable and happy to give you a personalized experience.
        </p>
        <div class="accordion">
            <button class="accordion-header">When are you going to VidCon? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
            <div class="accordion-body">
                <p>
                    I will be at VidCon Anaheim 2024 during June 26 to June 29. <a href="/vidcon/">Learn more about my VidCon trip with this link</a>!
                </p>
            </div>
        </div>
        <div class="accordion">
            <button class="accordion-header">I'm a creator and want to get in touch. How can I? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
            <div class="accordion-body">
                <p>
                    Send me a direct message on any of my <a href="/social-media/">social media</a> platforms. Since I typically don't respond to small talk, please tell me your proposition first.
                </p>
            </div>
        </div>
        <div class="accordion">
            <button class="accordion-header">We're a brand and want to get in touch. How can we? <i class="ri-arrow-right-s-line accordion-icon"></i></button>
            <div class="accordion-body">
                <p>
                    Feel free to email me at <a href="mailto:moldy@moreyellow.com">moldy@moreyellow.com</a> to discuss sponsorship inquiries, press, or other business proposals.
                </p>
            </div>
        </div>
    </div>
</div>