---
layout: base.njk
title: Become A Member
desc: Become A YouTube Channel Member
---

<div class="hero">
    <h1>Become A Member And Receive A Badge In Comments And Live Chat</h1>
    <p>
        My YouTube channel members get access to custom emoji, exclusive videos, perks in my Discord server, and a badge in my comments and live stream chat, all for the price of a coffee a month.
    </p>
    <div class="btns">
        <a href="https://youtube.com/@MoldyGD/join" class="btn"><i class="ri-youtube-fill"></i> Become A Member</a>
    </div>
</div>

<div class="panel cols center">
    <div class="col panel-content">
        <h1>Custom Emoji In Chat</h1>
        <p>
            Get access to custom emoji to use in my comments and live stream chat.
        </p>
        <a href="https://youtube.com/@MoldyGD/join" class="btn">See All Emoji</a>
    </div>
    <div class="col panel-image">
        <div class="aspect">
            <img src="/assets/emojis.png" alt="Emojis">
        </div>
    </div>
</div>

<div class="panel panel-invert cols center">
    <div class="col panel-content">
        <h1>Exclusive Videos</h1>
        <p>
            Get access to a collection of behind the scenes content and other exclusive videos.
        </p>
        <a href="https://youtube.com/playlist?list=PLvG1lI0KWDE2W7s-bBOM2cNi4hh3_khHT&si=LTRjkQBN7k86-bYy" class="btn">See The Collection</a>
    </div>
    <div class="col panel-image">
        <div class="aspect">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=NQmYLRUQan7E2pPJ&amp;list=PLvG1lI0KWDE2W7s-bBOM2cNi4hh3_khHT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="panel cols center">
    <div class="col panel-content">
        <h1>Perks In My Discord Server</h1>
        <p>
            Get access to an exclusive role, a badge in chat, all level roles perks, and an exclusive chat with myself and other supporters!
        </p>
        <a href="/discord/" class="btn">Join My Discord Server</a>
    </div>
    <div class="col panel-image">
        <div class="aspect">
            <img src="/assets/discordperks.png" alt="Discord perks">
        </div>
    </div>
</div>

<div class="panel panel-invert cols center">
    <div class="col panel-content">
        <h1>Receive A Badge To Show Your Support</h1>
        <p>
            My channel members get a badge in my comments and live stream chat to show their support!
        </p>
        <a href="https://youtube.com/@MoldyGD/join" class="btn">See The Badges</a>
    </div>
    <div class="col panel-image">
        <div class="aspect">
            <img src="/assets/badge.png" alt="Discord perks">
        </div>
    </div>
</div>

<div class="panel">
    <div class="col center">
        <h1>Become A Member Today</h1>
        <p>
            Become a member for only the price of a coffee a month.
        </p>
        <a href="https://youtube.com/@MoldyGD/join" class="btn">Become A Member</a>
    </div>
</div>